body {
    background: $solar-3;
    background-image: $solarGradient;
    font-family: $fontFamily;
    max-width: 100%;
    overflow: hidden;
    color: $color;
    position: relative;

    .offline-hint {
        background: $color;
        color: white;
        padding: 0 10px;
        display: block;
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        transform: translate(0, -100%);
        line-height: 30px;
        transition: transform 500ms ease;
        &.show {
            transform: translate(0,0);
        }
    }

    .wrap {
        margin: 0 40px;
        @media #{$mediaMd} {
            max-width: 640px;
            margin: 0 auto;
        }
        &.stretch {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 100%;
        }
    }
    * {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }
    h2 {
        text-align: center;
        letter-spacing: 0.03em;
        margin: 0 0 1.5em;
    }
    h3 {
        text-align: center;
        letter-spacing: 0.03em;
        margin: 0 0 0; 
        font-size: 21px;
    }
    h4 {
        text-align: center;
        letter-spacing: 0.03em;
        margin: 2em 0 0; 
        font-size: 21px;
    }

    ul.list {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            line-height: 1em;
        }
    }

    .gf {
        font-size: 36px;
        line-height: 45px;
    }

    pre {
        margin: 0;
    }

    main {
        height: 100vh;
        box-sizing: border-box;
        overflow-y: scroll;
        padding-top: $headerHeight + 50px;
        display: block;
    }

    .row {
        display: flex;
        > * {
            flex: 1;
            &:first-child {
                padding-right: 10px;
            }
            &:last-child {
                padding-left: 10px;
            }
        }
    }
}